/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* GENERALS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    background-color: #000;
    color: white;
    font-family: "JetBrains Mono",  monospace;
    font-weight: 400;
}

li{list-style: none;}
a{text-decoration: none;}

.homepage{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* NABAR */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem;
    max-height: 8vh;
}

.hamburger{
    display: none;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.nav-menu{
    display: flex;
    align-content: center;
    max-height: 50px;
}

.nav-item{margin-left: 2rem;}

.nav-item a{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 200;
    background-color: #000;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.nav-item a:hover {background-color: #232323;}

.active a{border-color: #232323;background-color: #232323;}
.active a:hover{border-color: #303030;background-color: #303030;}


.contact a{background-color: #A346FF;background-color: #A346FF;}
.contact a:hover{background-color: #ad5cff;background-color: #ad5cff;}


@media only screen and (max-width: 768px) {
    .nav-menu{
        position: fixed;
        left: 100%;
        top: 5.3rem;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
        height: 100vh;
    }

    .nav-menu.toggled{
        left: 0;
    }

    .nav-item{
        padding: 3vh;
        text-align: end;
        background-image: linear-gradient(90deg, #00000000, #000);
    }

    .nav-item a{padding: 1rem 2rem;}

    .hamburger{
        display: block;
        cursor: pointer;
    }
    
    .hamburger.toggled .bar:nth-child(2) {opacity: 0;}
    .hamburger.toggled .bar:nth-child(1) {transform: translateY(8px) rotate(45deg);}
    .hamburger.toggled .bar:nth-child(3) {transform: translateY(-8px) rotate(-45deg);}

    .stop-scrolling{
        height: 100%;
        overflow: hidden;
    }
    
}

/* SHOWCASE */

.showcase{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    flex-flow: row-reverse;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 55vh;
}

.container{
    aspect-ratio: 19/16;
    height: 30vw;
    display: flex;
    margin-left: 7vw;
    float: right;
    flex-wrap: nowrap;
    justify-content: start;
}

.card{
    width: 90px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 1rem;
    margin: 0 6px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
}

input{display: none;}

input:checked + label {width: 600px;}

.card[for="c1"]{background-image: url('/asssets/cover-art/2.png');}
.card[for="c2"]{background-image: url('/asssets/cover-art/1.png');}
.card[for="c3"]{background-image: url('/asssets/cover-art/3.png');}

/* TITLE */
.title{
    font-size: 5vw;
    line-height: 100%;
    text-transform: uppercase;
    margin:auto;
    margin-bottom: 4vh;
}

.title b{font-weight: 900;}

.btn1{
    font-size: 1vw;
    color: #fff;
    background-color: #A346FF;
    text-transform: capitalize;
    font-weight: 500;
    padding: 1vw 2vw;
    border-radius: 0.5rem;
}

.btn2{
    font-size: 1vw;
    color: #fff;
    background-color: #232323;
    text-transform: capitalize;
    padding: 1vw 2vw;
    border-radius: 0.5rem;
}

.devider{
    height: 2px;
    background-color: #232323;
}

.leftsc .devider{
    width: 25vw;
    margin: 5vh 0 3vh 0;
}

.socialmedia img{
    height: 1.5vw;
}

@media only screen and (max-width: 768px) {

    .homepage{display: block;}
    .wrapper{
        flex-direction: column;
        justify-content: start;
        align-items: start;
        height: 100vh;
    }

    .container{
        width: 85vw;
        height: 30vh;
        margin: 0;
    }
    
    .title{
        margin-top: 3vh;
        font-size: 5.3vh;
    }

    .btn1{
        font-size: 1rem;
        padding: 3vw 6vw;
        
    }

    .btn2{
        font-size: 1rem;
        padding: 3vw 6vw;
    }
    .leftsc .devider{
        width: 60vw;
        margin: 4vh 0 3vh;
    }
    .socialmedia img{
        height: 6vw;
    }
}

.banner{
    margin: 5vh auto 2vh auto;
    width: 90vw;
    height: 35vh;
    background-color: #A346FF;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.banner .photo{
    background-color: #fff;
    border-radius: 100%;
    aspect-ratio: 1/1;
    height: 60%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.photo img{
    height: 90%;
    border-radius: 100%;
}

.banner p{
    font-size: 1.5vw;
    text-align: center;
    margin-top: 1vh;
}

.bio-page{
    width: 100vw;
    margin: auto;
}

.bio-page ul{
    margin: auto;
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bio-page li{
    line-height: 200%;
    font-size: 30;
    font-weight: 200;
    width: 30vw ;
}

.bio-page li b{
    font-weight: 900;
    line-height: 110%;
}


.gallery-wrapper{
    width: 70vw;
    margin: auto;
    margin-top: 10vh;
}

.gallery-wrapper .gallery{
    columns: 15rem 3;
    gap: 2vw;
}

.gallery-wrapper .gallery img {
    width: 100%;
    margin-bottom: 2vw;
    border-radius: 1rem;
}

.gallery-wrapper h1{
    text-align: center;
    margin-bottom: 10vh;
}

.bio-interactables{
    display: flex;
    gap: 3vh;
    flex-flow: column;
}

@media only screen and (max-width: 768px) {
    
    .banner p{
        font-size: 6vw;
    }

    .bio-page ul{
        flex-direction: column;
        width: 80vw;
    }

    .bio-page li{
        width: 80vw;
    }

    .bio-interactables{
        flex-direction: column;
    }

}